Source: rtl8192cu
Section: kernel
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4

Package: rtl8192cu-modules-3.3.0-2-ev3dev
Architecture: any
Provides: rtl8192cu-modules
Description: rtl8192cu series modules for Linux (kernel 3.3.0-2-ev3dev).
 This package contains the set of loadable kernel modules for wireless adapters
 that use the rtl8192cu chipset.
 .
 Supported hardware:
 * RTL8188CUS
 * RTL8188RU
 * RTL8188CUS-Slim Solo
 * RTL8188CUS-Slim Combo
 * RTL8188CE-VAU
 * RTL8188CUS-VL
 * RTL8188CTV
 * RTL8192CUS
 * RTL8192CE-VAU
 .
 This package contains the compiled kernel modules for 3.3.0-2-ev3dev
 .
 If you have compiled your own kernel, you will most likely need to build
 your own rtl8192cu-modules. The rtl8192cu-source package has been
 provided for use with the Debian's module-assistant or kernel-package
 utilities to produce a version of rtl8192cu-modules for your kernel.
